<div class="col-md-12">
    <div class="panel-body" style="margin-top:20px;height:{{panelsize}};">
        <table class="table" >
            <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Picture</td>
                <td>Count</td>
                <td>Total</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cart of shop_cart_finial;let i = index">
                <td>{{cart.name}}</td>
                <td>{{cart.price}}</td>
                <td><img style="width:50px;height:50px" src="{{cart.image}}"></td>
                <td>{{cart.count}}</td>
                <td>${{cart.total}}</td>
            </tr>
                <td>TOTAL</td>
                <td></td>
                <td></td>
                <td></td>
                <td>${{total}}</td>
            </tbody>
        </table>
    </div>

    <div class="panel-footer clearfix" *ngIf="cart_flag"
        style="margin-top:10px;">
        <div class="col-sm-offset-5 col-sm-1">
            <button type="button" (click)="doSubmit()" class="btn btn-lg btn-primary">submit</button>
        </div>
    </div>
</div>
