<div class="col-md-12">
    <div class="panel-body" style="margin-top:20px;;height:{{panelsize}};">
        <table class="table" >
            <thead>
            <tr>
                <td>Order No</td>
                <td>Total</td>
                <td>Order Time</td>
                <td width="10%"
                *ngFor="let order of orders"></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{id}}</td>
                <td>{{total}}</td>
                <td>{{date}}</td>
                <td *ngFor="let order of orders"><img
                  style="width:40px;height:40px" src="{{order.image}}">
                   <span> * {{order.count}}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
