<div class="col-md-12">
    <div class="panel-body" style="margin-top:20px;">
        <table class="table" >
            <thead>
            <tr>
                <td>Order No</td>
                <td>Price</td>
                <td>Order Time</td>
                <td class="text-center">Deail</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center">
                    <button class="btn btn-primary" ng-click="detail()">Detail</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
